
    <!DOCTYPE html>
    <html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
        <title>Táblázat</title>
    </head>
    <body>
        <div class="container-xl">
         <header><h1>&nbsp;Táblázat</h1>
    
            <!--- bejelentkezett felhasznalo -->
            <p id="bejelentkezettfelh"> bejelentkezett felhasznalo </p>
    
            <!-- szamlalo? -->
    
            <!-- kijelentkezes gomb-->
        
            <nav class="navbar navbar-dark bg-dark ">
                <div class="container-fluid">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Válasszon a menüelemek közül</h5>
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page"  href="/Views/table.html">Táblázat</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/Views/balance.html">Egyenleg</a>
                        </li>
                        
                       
                       
                      </ul>
                     
                    </div>
                  </div>
                </div>
              </nav>
    
        </header>
         <main id="tablemain">
            <div class="tableborder">
                <table class="table-bordered border-black">
                    <p>Táblázat a <a href="#" style="color : green">bevételekről</a> / <a href="#" style="color : crimson">kiadásokról</a> </p>
                    <div class="text-info">
                        <hr>
                      </div>
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Összeg</th>
                          <th scope="col">mirementapez</th>
                          <th scope="col">hovamentapez</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <tr>
                          <th scope="row"></th>
                          <td>felhasznaloneve</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td>-''-</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
         </main>
            <footer>BSZC Türr István Technikum • 5/13-SZFT • Szabó Kevin Márk<sup>®</sup>  </footer>
        </div>
       
    
        <script src="/Assets/js/bootstrap.min.js"></script>
        <script src="/Controllers/balance.js"></script>
    </body>
    </html>